<link rel="stylesheet" href="/css/styles_resp_flex.css">
<% include ./partials/head %>

</head> 

<body>

<header class="app-header">
  <% include ./partials/header %>
</header>

<section class="hero">
        <div class="background-image" ></div>
<div class="Text">
  <h3>Widok: Game Points</h3>
  <p>Widok  <em>Game Points</em> pokazuje punktację </p>
</div>  
    
  
    <table class="redTable">
        <thead>
            <tr>
                <th>id</th>
                <th>play_time</th>
                <th>count_click</th>
                <th>bad_click</th>
                <th>gracz</th>
                <th>rola</th>
                <th>haslo</th>
                <th>podpowiedz</th>
                <th>typ</th>
                <th>    </th>
            </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<dataType.length; i++) {%>
              <tr>
                  <td id="<%= dataType[i].id %>" >
                      <%= dataType[i].id %>
                  </td> 

                  <td> 
                          <a href="/gamePoints/<%= dataType[i].id %>">
                            <%= dataType[i].play_time %> 
                          </a>
                  </td>

                  <td> 
                        <a href="/gamePoints/<%= dataType[i].id %>">
                            <%= dataType[i].count_click %> 
                        </a>
                </td>

                <td> 
                        <a href="/gamePoints/typ?typ=<%= dataType[i].typ %>">
                            <%= dataType[i].bad_click %> 
                        </a>
                </td>

                <td> 
                    <a href="/gamePoints/<%= dataType[i].id %>">
                        <%= dataType[i].gracz %> 
                    </a>
                </td>

                <td> 
                    <a href="/gamePoints/<%= dataType[i].id %>">
                        <%= dataType[i].rola %> 
                    </a>
                </td>

                <td> 
                    <a href="/gamePoints/<%= dataType[i].id %>">
                        <%= dataType[i].haslo %> 
                    </a>
                </td>

                <td> 
                    <a href="/gamePoints/<%= dataType[i].id %>">
                        <%= dataType[i].podpowiedz %> 
                    </a>
                </td>

                <td> 
                    <a href="/gamePoints/<%= dataType[i].id %>">
                        <%= dataType[i].typ %> 
                    </a>
                </td>

                  <td>
                      <% if(!isAll && isSingle) {  %>
                              <a href="/gamePoints">
                                  <span>&#8592;</span>
                              </a>
                      <% } else { %>
                          <a href="/">
                              <span>&#8592;</span>
                          </a>
                      <% }  %>
                  </td>
              </tr>
          <%}%>
          </tbody>
      </table>
    
</section>

<script type="text/javascript" src="js/tools.js"></script>
